
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.navbar{
    border-bottom: 5px solid black;
}

.topbar{
    background-color: lightgray;
    height: 40px;
    border-bottom: 4px solid black;
    
}

.footer{
    background-color: lightgray;
}

.social-icons a{
    color: black;
}

.btn-dark.custom-hover:hover{
   background-color: white;
   color: black;
   transition: 0.3s;
}



