.navbar{
    border-bottom: 5px solid black;
}

.topbar{
    background-color: lightgray;
    height: 40px;
}

.footer{
    background-color: lightgray;
}

.social-icons a{
    color: black;
}

.btn-dark.custom-hover:hover{
   background-color: white;
   color: black;
   transition: 0.3s;
}



