@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.navbar {
    border-bottom: 5px solid black;
}

.topbar {
    background-color: lightgray;
    height: 40px;
    border-bottom: 4px solid black;
}

.footer {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}

.social-icons a {
    color: black;
}

.btn-dark.custom-hover:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

footer {
    background-color: rgba(211, 211, 211, 0.363);
}

.footer-items {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.footer-items:hover {
    color: blue;
    transition: 0.2s;
}

.footer-heading{
    color:  rgba(0, 0, 0, 0.836);
}

.footer-icon-one{
    color: white;
}
.footer-icon-two{
    color: white;
}
.footer-icon-three{
    color: white;
}
.footer-icon-four{
    color: white;
}

.footer-icon-one:hover{
    color: rgb(17, 48, 202);
    transition: 0.3s;
}

.footer-icon-two:hover{
    color:rgb(168, 28, 161);
    transition: 0.3s;
}
.footer-icon-three:hover{
    color:rgb(104, 150, 35);
    transition: 0.3s;
}
.footer-icon-four:hover{
    color:rgb(203, 32, 32);
    transition: 0.3s;
}

.cards-heading::after{
    content: '';
    width: 190px;
    height: 4px;
    background: red;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
}
.men-cards-heading{
    font-size: 40px;
}

.men-cards-heading::after{
    content: '';
    width: 90px;
    height: 4px;
    background: red;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
}